.cover__background {
  display: flex;
  flex-direction: column;
  padding-top: 245px;
  padding-bottom: 245px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.cover__background:hover .cover__overlay {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    padding-top: 195px;
    padding-bottom: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}

@media all and (max-width: 425px) {
  .cover__background {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
